<!DOCTYPE html>
<html>
  <head>
<meta name="viewport" content="width=1200, minimum-scale=0.1">
    <title><%= 'コラム' %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body class="scroll">
<div><a href="#mask">Mask2Face Privacy Policy</a></div>
<div><a href="#aipainteren">AI.Painter Privacy Policy</a></div>
<div><a href="#aipainter">AI.Painter プライバシーポリシー</a></div>
<div><a href="#unmake">逆処理 privacy policy</a></div>
<div><a href="#unmakejp">加工もどし(逆処理in Japanese) privacy policy</a></div>
<div><a href="#unmakek">미인　클렌징(逆処理in Korea) privacy policy</a></div>

<div><a href="#blur">Blur. privacy policy</a></div>
<div><a href="#dogcatcam">Dog Cat Camera Automatic プライバシーポリシー</a></div>
<div><a href="#smilepractice">SmilePractice プライバシーポリシー</a></div>
<div><a href="#ikemen">イケメン表情トレーニング プライバシーポリシー</a></div>
<div><a href="#penguin">PenguinInTheDisplay プライバシーポリシー</a></div>
<div><a href="#piweb">piWeb プライバシーポリシー</a></div>
<div><a href="#piPic">piPic プライバシーポリシー</a></div>
<div><a href="#dogtime">DogTime プライバシーポリシー</a></div>

<h1 id="mask"><%= 'Mask2Face Privacy Policy' %></h1>
<p> Application provider DAISUKE MAJIMA (hereinafter referred to as “provider”) is handling privacy information in the smartphone application provided by the provider (hereinafter referred to as “this application”) as follows: Establish a policy.
<br>
</p>
<h2> Types of personal information to be acquired
</h2>
<p>1. User face data (specifically, an image containing the user's face. It is processed in the terminal and not uploaded).
<br>2. Cookie data and web beacons may be used to display advertisements.
</ p>
<h2>How to use personal information
</h2>
<p>1. When the user selects an image containing a face from the camera or photo library, the app cuts the image into a square along the face and converts it to a pixel-based color value. Then, process the above numerical sequence with the machine learning model built into the app. Machine learning models are pre-statistically trained and generate a processed image by making statistical inferences from a sequence of numbers given by the user's image. The processing is only used to generate the content image and is kept, no face data is saved.
<br2, Image processing is performed on the user's device, and data and images will not be uploaded via network communication unless the user shares data and images with other applications.
<br>ata is temporarily stored in the application, used for image processing only, and deleted from the application after use.Data is not permanently stored in the application and is not uploaded or provided to third parties over network communications.
<br>3. You may be notified of software updates.
<br>4, Cookie data may be used to display advertisements.
<br>5. Under the law, if the provider determines that it is necessary to pursue the legitimate interests of a third party, it may process personal information.
<br>6. Through the application providing platform, we may obtain statistical data such as analytics that are not directly related to a specific individual.
<br>
</p>
<h2>Disclosure to third parties
</h2>
<p>The provider does not provide personal information to third parties without obtaining prior user consent. However, in the following cases, this is not the case and user information may be provided to third parties.
<br>(1) When providing user information to an external service management company in cooperation with an external service or authentication using an external service
<br>(2) Received a national institution or local public entity or its consignment The provider needs to cooperate with the execution of the affairs stipulated by the law, and obtaining consent from the user may interfere with the performance of the affairs
<br>(3) Other laws and regulations If allowed
</p>
<h2>Disclosure of personal information
</h2>
<p>Except for data that is completely processed in the application terminal, if the person requests disclosure of personal information, it will be disclosed to the person.
</p>
<h2>User involvement
</h2>
<p>If you want to stop the use of user information by the application, please uninstall the application.
<br>he contents of this privacy policy can be changed without obtaining the user's consent. Notification of changes will be made in the form of notifications through the application delivery platform, and the revised privacy policy will take effect from the time of notification.
</p>
<h2>ontact Us
</h2>
<p> mail: samuraibrothersmail@gmail.com \ nwebsite: https: //tranquil-oasis-79483.herokuapp.com
<br>
<br>Updated March 20, 2020
</p>


<h1 id="aipainteren"><%= 'AI.Painter Privacy Policy' %></h1>
<p> Application provider DAISUKE MAJIMA (hereinafter referred to as “provider”) is handling privacy information in the smartphone application provided by the provider (hereinafter referred to as “this application”) as follows: Establish a policy.
<br>
</p>
<h2> Types of personal information to be acquired
</h2>
<p>1. User face data (specifically, an image containing the user's face. It is processed in the terminal and not uploaded).
<br>2. Cookie data and web beacons may be used to display advertisements.
</ p>
<h2>How to use personal information
</h2>
<p>1. When the user selects an image containing a face from the camera or photo library, the app cuts the image into a square along the face and converts it to a pixel-based color value. Then, process the above numerical sequence with the machine learning model built into the app. Machine learning models are pre-statistically trained and generate a processed image by making statistical inferences from a sequence of numbers given by the user's image. The processing is only used to generate the content image and is kept, no face data is saved.
<br2, Image processing is performed on the user's device, and data and images will not be uploaded via network communication unless the user shares data and images with other applications.
<br>ata is temporarily stored in the application, used for image processing only, and deleted from the application after use.Data is not permanently stored in the application and is not uploaded or provided to third parties over network communications.
<br>3. You may be notified of software updates.
<br>4, Cookie data may be used to display advertisements.
<br>5. Under the law, if the provider determines that it is necessary to pursue the legitimate interests of a third party, it may process personal information.
<br>6. Through the application providing platform, we may obtain statistical data such as analytics that are not directly related to a specific individual.
<br>
</p>
<h2>Disclosure to third parties
</h2>
<p>The provider does not provide personal information to third parties without obtaining prior user consent. However, in the following cases, this is not the case and user information may be provided to third parties.
<br>(1) When providing user information to an external service management company in cooperation with an external service or authentication using an external service
<br>(2) Received a national institution or local public entity or its consignment The provider needs to cooperate with the execution of the affairs stipulated by the law, and obtaining consent from the user may interfere with the performance of the affairs
<br>(3) Other laws and regulations If allowed
</p>
<h2>Disclosure of personal information
</h2>
<p>Except for data that is completely processed in the application terminal, if the person requests disclosure of personal information, it will be disclosed to the person.
</p>
<h2>User involvement
</h2>
<p>If you want to stop the use of user information by the application, please uninstall the application.
<br>he contents of this privacy policy can be changed without obtaining the user's consent. Notification of changes will be made in the form of notifications through the application delivery platform, and the revised privacy policy will take effect from the time of notification.
</p>
<h2>ontact Us
</h2>
<p> mail: samuraibrothersmail@gmail.com \ nwebsite: https: //tranquil-oasis-79483.herokuapp.com
<br>
<br>Updated March 20, 2020
</p>


<h1 id="aipainter"><%= 'AI.Painter プライバシーポリシー' %></h1>
<p> アプリケーション提供者DAISUKE MAJIMA（以下「提供者」といいます。）は、提供者が提供するスマートフォン用アプリケーション（以下「本アプリ」といいます。）のにおけるプライバシー情報の取扱いについて、以下のとおりプライバシーポリシーを定めます。
<br>
</p>
<h2> 取得する個人情報の種類
</h2>
<p>1、ユーザーの顔データ（具体的には、ユーザーの顔を含む画像。端末内で処理され、アップロードはされません）。
<br>2、CookieデータとWebビーコンを使用して広告を表示できます。２、広告表示のためにCookieデータやウェブビーコンを使用する場合があります。
</ p>
<h2>個人情報の利用方法
 </h2>
<p>１、ユーザーがフォトライブラリから顔を含む画像を選択すると、アプリは顔に沿った正方形に画像を切り抜き、ピクセル単位の色の数値に変換します。それから、アプリに内蔵された機械学習モデルで上記の数値列を処理します。機械学習モデルは、事前に統計的にトレーニングされており、ユーザーの画像によって与えられた数値列から統計的な推測をし、加工した画像を生成します。処理はコンテンツ画像を生成するためにのみ使用保持され、顔データの保存は行われません。
<br2、画像処理はユーザー端末で実行され、ユーザーが他のアプリケーションとデータと画像を共有しない限り、データと画像はネットワーク通信を介してアップロードされません。データは一時的にアプリケーションに保存され、画像処理のみに使用され、使用後にアプリケーションから削除されます。
<br>データはアプリケーションに永続的に保存されることはなく、ネットワーク通信を介してアップロード及び第三者に提供されることもありません。
<br>3、ソフトウェアの更新に関する通知を受け取る場合があります。
<br>4、Cookieデータを使用して広告を表示できます。
<br>5、法律および規制に従って、プロバイダーが第三者の正当な利益を追求する必要があると判断した場合、個人情報を処理する場合があります。
<br>6、プラットフォームを提供するアプリケーションを通じて、特定の個人に直接関係しない分析およびその他の統計データを取得する場合があります。
<br>
</p>
<h2>第三者への開示について</h2>
<p>提供者は、ユーザー情報のうち個人情報に関して、あらかじめユーザーの同意を得ることなく、第三者に提供しません。但し、次に定める場合にはこの限りではなく、ユーザー情報を第三者に提供することがあります。
<br>（１）外部サービスとの連携または、外部サービスを利用した認証にあたり、当該外部サービス運営会社にユーザー情報を提供する場合
<br>（２）国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して、提供者が協力する必要があり、かつユーザーからの同意取得が当該事務の遂行に支障を及ぼすおそれがある場合
<br>（３）その他法令で認められる場合
</p>
<h2> 個人情報の開示
</h2>
<p> アプリケーション端末内で処理が完結するデータを除き、本人から個人情報の開示を求められた場合は、本人に対し開示します。
</p>
<h2> 利用者関与の方法
</h2>
<p> アプリケーションによる利用者情報の利用停止を希望される場合は、アプリケーションをアンインストールしてください。
<br>当プライバシーポリシーの内容は、利用者の承諾を得ることなく、変更できるものとします。変更の通知はアプリケーション提供プラットフォームを通した通知の形で行い、変更後のプライバシーポリシーは、通知された時点から効力を生じるものとします。
</p>
<h2>問い合わせ
</h2>
<p> mail: samuraibrothersmail@gmail.com \ nwebsite: https: //tranquil-oasis-79483.herokuapp.com
<br>
<br>2020年3月26日更新
</p>


<h1 id="unmake"><%= '逆処理 privacy policy' %></h1>
<p> 应用程序提供商DAISUKE MAJIMA（以下称为“提供程序”）正在按以下方式处理由提供商提供的智能手机应用程序（以下称为“本应用程序”）中的隐私信息：建立策略。
<br>
</p>
<h2> 要获取的个人信息的类型
</h2>
<p> 1、用户面部数据（特别是包含用户面部的图像。在终端中处理该图像而不上传。）
<br>2，Cookie数据和Web信标可用于显示广告。
</ p>
<h2> 如何使用个人信息
 </h2>
<p>1.当用户从照片库中选择包含脸部的图像时，该应用程序会将图像沿脸部裁剪为正方形，并将其转换为逐像素的颜色值。然后，使用内置在应用程序中的机器学习模型处理上述数值序列。机器学习模型经过预先统计训练，并根据用户图像给出的一系列数字进行统计推断，以生成经过处理的图像。人脸数据仅用于生成内容图像，不存储任何人脸数据。
<br>2，在用户终端中执行图像处理，除非用户与其他应用程序共享数据和图像，否则不会通过网络通信上传数据和图像。
<br>数据被临时存储在应用程序中，仅用于图像处理，使用后将从应用程序中删除。
<br>数据不会永久存储在应用中，不会通过网络通信上传或提供给第三方。
<br>4，您可能会收到有关软件更新的通知。
<br>5，Cookie数据可用于显示广告。
<br>6。根据法律法规，如果提供者认为有必要追求第三方的合法利益，我们可能会处理个人信息。
<br>7，我们可能会通过应用程序提供平台获得与特定个人没有直接关系的分析和其他统计数据。
<br>
</p>
<h2> 向第三方披露</h2>
<p> 提供者不会在未获得用户事先同意的情况下将个人信息提供给第三方.
<br> 但是，在以下情况下，情况并非如此，并且可以将用户信息提供给第三
<br> （1）在与外部服务合作或使用外部服务进行认证的情况下，向外部服务运营公司提供用户信息时
<br> (2)提供者需要与国家机构或地方公共实体或受托人进行法律法规规定的事务合作的情况下.
<br> 并且在获得用户同意的情况下可能会干扰作品的执行的情况下.
<br> (3)在其他法律允许的情况下" =
</p>
<h2> 披露个人信息
</h2>
<p> 如果此人要求公开个人信息，则将其透露给该人（不包括可以在应用程序终端内完全处理的数据）.
</p>
<h2> 用户参与
</h2>
<p> 如果要停止应用程序使用用户信息，请卸载该应用程序.
<br> 未经用户同意，可以更改本隐私政策的内容. 更改通知将通过应用程序交付平台以通知的形式进行，修订后的隐私政策将从通知之时起生效.
</p>
<h2> 联络我们
</h2>
<p> mail: samuraibrothersmail@gmail.com \ nwebsite: https: //tranquil-oasis-79483.herokuapp.com
<br>
<br> Effective March 1, 2020
</p>

<h1 id="unmakejp"><%= '加工もどし プライバシーポリシー' %></h1>
<p> アプリケーション提供者DAISUKE MAJIMA（以下「提供者」といいます。）は、提供者が提供するスマートフォン用アプリケーション（以下「本アプリ」といいます。）のにおけるプライバシー情報の取扱いについて、以下のとおりプライバシーポリシーを定めます。
<br>
</p>
<h2> 取得する個人情報の種類
</h2>
<p>1、ユーザーの顔データ（具体的には、ユーザーの顔を含む画像。端末内で処理され、アップロードはされません）。
<br>2、CookieデータとWebビーコンを使用して広告を表示できます。２、広告表示のためにCookieデータやウェブビーコンを使用する場合があります。
</ p>
<h2>個人情報の利用方法
 </h2>
<p>１、ユーザーがフォトライブラリから顔を含む画像を選択すると、アプリは顔に沿った正方形に画像を切り抜き、ピクセル単位の色の数値に変換します。それから、アプリに内蔵された機械学習モデルで上記の数値列を処理します。機械学習モデルは、事前に統計的にトレーニングされており、ユーザーの画像によって与えられた数値列から統計的な推測をし、加工した画像を生成します。処理はコンテンツ画像を生成するためにのみ使用保持され、顔データの保存は行われません。
<br2、画像処理はユーザー端末で実行され、ユーザーが他のアプリケーションとデータと画像を共有しない限り、データと画像はネットワーク通信を介してアップロードされません。データは一時的にアプリケーションに保存され、画像処理のみに使用され、使用後にアプリケーションから削除されます。
<br>データはアプリケーションに永続的に保存されることはなく、ネットワーク通信を介してアップロード及び第三者に提供されることもありません。
<br>3、ソフトウェアの更新に関する通知を受け取る場合があります。
<br>4、Cookieデータを使用して広告を表示できます。
<br>5、法律および規制に従って、プロバイダーが第三者の正当な利益を追求する必要があると判断した場合、個人情報を処理する場合があります。
<br>6、プラットフォームを提供するアプリケーションを通じて、特定の個人に直接関係しない分析およびその他の統計データを取得する場合があります。
<br>
</p>
<h2>第三者への開示について</h2>
<p>提供者は、ユーザー情報のうち個人情報に関して、あらかじめユーザーの同意を得ることなく、第三者に提供しません。但し、次に定める場合にはこの限りではなく、ユーザー情報を第三者に提供することがあります。
<br>（１）外部サービスとの連携または、外部サービスを利用した認証にあたり、当該外部サービス運営会社にユーザー情報を提供する場合
<br>（２）国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して、提供者が協力する必要があり、かつユーザーからの同意取得が当該事務の遂行に支障を及ぼすおそれがある場合
<br>（３）その他法令で認められる場合
</p>
<h2> 個人情報の開示
</h2>
<p> アプリケーション端末内で処理が完結するデータを除き、本人から個人情報の開示を求められた場合は、本人に対し開示します。
</p>
<h2> 利用者関与の方法
</h2>
<p> アプリケーションによる利用者情報の利用停止を希望される場合は、アプリケーションをアンインストールしてください。
<br>当プライバシーポリシーの内容は、利用者の承諾を得ることなく、変更できるものとします。変更の通知はアプリケーション提供プラットフォームを通した通知の形で行い、変更後のプライバシーポリシーは、通知された時点から効力を生じるものとします。
</p>
<h2>問い合わせ
</h2>
<p> mail: samuraibrothersmail@gmail.com \ nwebsite: https: //tranquil-oasis-79483.herokuapp.com
<br>
<br>2020年3月20日更新
</p>

<h1 id="unmakek"><%= '미인　클렌징 개인 정보 보호 정책' %></h1>
<p>응용 프로그램 공급자 DAISUKE MAJIMA (이하“제공자”)는 다음과 같이 공급자가 제공 한 스마트 폰 응용 프로그램 (이하“이 응용 프로그램”이라고 함)에서 개인 정보를 처리합니다. 정책을 설정합니다.
<br>
</p>
<h2>수집 한 개인 정보의 종류
</h2>
<p>1 사용자의 얼굴 데이터 (구체적으로는, 사용자의 얼굴을 포함한 이미지 단말에서 처리되며 업로드되지 않습니다)
<br>2, Cookie 데이터와 Web 비콘을 사용하여 광고를 볼 수 있습니다. 2, 광고 표시를 위해 Cookie 데이터 및 웹 비콘을 사용할 수 있습니다.
</ p>
<h2>개인 정보의 이용 방법
 </h2>
<p>1,사용자가 사진 라이브러리에서 얼굴을 포함한 이미지를 선택하면 응용 프로그램은 얼굴을 따라 사각형 이미지를 자르기 픽셀의 색상 값으로 변환합니다.그런 다음 응용 프로그램에 내장 된 기계 학습 모델에서 위의 숫자 열을 처리합니다.기계 학습 모델은 사전에 통계적으로 훈련되어 있으며, 사용자의 이미지에 의해 주어진 숫자 열에서 통계적인 추측을하고 가공 한 이미지를 생성합니다.처리는 콘텐츠 이미지를 생성하는 데에만 사용 유지되고 얼굴 데이터 저장되지 않습니다.
<br>2, 이미지 처리는 사용자 단말에서 실행되며 사용자가 다른 응용 프로그램과 데이터와 이미지를 공유하지 않는 한 데이터와 사진은 네트워크 통신을 통해 업로드되지 않습니다. 데이터는 일시적으로 응용 프로그램에 저장된 이미지 처리에만 사용되며 사용 후 응용 프로그램에서 삭제됩니다. 데이터는 응용 프로그램에 영구적으로 저장되는 것이 아니라 네트워크 통신을 통해 업로드 및 제삼자에게 제공 될 수 없습니다.
<br>3, 소프트웨어 업데이트에 대한 알림을받을 수 있습니다.
<br>4, Cookie 데이터를 사용하여 광고를 볼 수 있습니다.
<br>5. 법률 및 규정에 따라 공급자가 제삼자의 정당한 이익을 추구 할 필요가 있다고 판단 될 경우 개인 정보를 처리하는 경우가 있습니다.
<br>6 플랫폼을 제공하는 응용 프로그램을 통해 특정 개인에 직접 관련이없는 분석 및 기타 통계 데이터를 검색 할 수 있습니다.
<br>
</p>
<h2>제삼자에게의 개시에 대해</h2>
<p>제공자는 사용자 정보 중 개인 정보에 대해 미리 사용자의 동의없이 제 3 자에게 제공하지 않습니다. 단, 다음 정하는 경우에는 그러하지 아니라 사용자 정보를 제삼자에게 제공 할 수 있습니다.
<br> (1) 외부 서비스와의 제휴 또는 외부 서비스를 이용한 인증에있어서, 상기 외부 서비스 운영 회사에 사용자 정보를 제공하는 경우
<br> (2) 국가 기관 또는 지방 공공 단체 또는 그 위탁을받은 자가 법령이 정하는 사무를 수행하는 것에 대해 공급자가 협력해야하며 사용자의 동의 취득이 해당 사무의 수행에 지장을 미칠 우려가있는 경우
<br> (3) 기타 법령에 인정되는 경우
</p>
<h2> 개인 정보 공개
</h2>
<p>응용 프로그램 터미널에서 처리가 완결하는 데이터를 제외하고 본인의 개인 정보의 공개를 요구 한 경우에는 본인에게 공개합니다.
</p>
<h2>이용자 참여 방법
</h2>
<p>응용 프로그램의 이용자 정보의 이용 정지를 희망하는 경우 응용 프로그램을 제거하십시오.
<br>본 개인 정보 보호 정책의 내용은 이용자의 동의를받지 않고 변경할 수있는 것으로합니다. 변경 알림은 응용 프로그램 제공 플랫폼을 통한 통지 형태로 실시 변경된 개인 정보 보호 정책은 통지 된 시점부터 효력이 발생합니다.
</p>
<h2>문의
</h2>
<p> mail: samuraibrothersmail@gmail.com \ nwebsite: https: //tranquil-oasis-79483.herokuapp.com
<br>
<br>2020 년 3 월 20 일 업데이트"
</p>


<h1 id="blur"><%= 'Blur. privacy policy' %></h1>
<p> The provider DAISUKE MAJIMA (hereinafter "provider") is a smartphone application provided by the provider.
<br> Regarding the handling of privacy information in (hereinafter referred to as "this application"), the privacy policy is defined as follows.
<br>
</p>
<h2> Type of personal information to be acquired
</h2>
<p> 1. Images captured from the True Depth camera and the back camera, depth data, and the position of the human in the captured image.
<br>2, Cookie data and web beacons may be used to display advertisements.
</ p>
<h2> How to collect and use personal information
 </h2>
<p>1. The app uses the depth data of the TrueDepth camera and the back camera to obtain the position of the person in the image. The data is used to distinguish between the background and the person.
<br>2, processing of depth and position data in the image of a person is performed in the user's terminal, and data and images are not uploaded via network communication unless the user shares it with other applications. \nData is temporarily stored and used in the app only for image processing, and will be deleted from the app after use. \nData will not be permanently stored in the app, uploaded via network communication, or provided to third parties.
<br>3. You may be notified of software updates.
<br>4, Cookie data may be used to display advertisements.
<br>5. Under the law, if the provider determines that it is necessary to pursue the legitimate interests of a third party, it may process personal information.
<br>6. Through the application providing platform, we may obtain statistical data such as analytics that are not directly related to a specific individual.
</p>
<h2> About disclosure to third parties </h2>
<p> The provider will not provide personal information to third parties without the prior consent of the user.
<br> However, this is not the case in the following cases, and user information may be provided to third parties.
<br> (1) When providing user information to the external service operating company in cooperation with external services or authentication using external services
<br> (2) For the institution of the state or local public entity or the person entrusted by it to perform the affairs prescribed by laws and regulations,
<br> When the provider needs to cooperate and obtaining the consent of the user may hinder the execution of the business.
<br> (3) When permitted by other laws and regulations
</p>
<h2> Disclosure of personal information
</h2>
<p> Except for data that is completed in the application terminal, if the individual requests the disclosure of personal information, we will disclose it to the individual.
</p>
<h2> Method of user involvement
</h2>
<p> If you want to stop using the user information by the application, please uninstall the application.
<br> By this, all of user information will be deleted from device.
<br> The contents of this privacy policy can be changed without the consent of the user.
<br> Notification of changes will be made in the form of notifications through the application providing platform, and the privacy policy after the change,
<br> Effective from the date of notification.
</p>
<h2> Contact us
</h2>
<p> mail: samuraibrothersmail@gmail.com \ nwebsite: https: //tranquil-oasis-79483.herokuapp.com
<br>
<br> Effective February 1, 2020
</p>

<h1 id="dogcatcam"><%= 'Dog Cat Camera Automatic privacy policy' %></h1>
<p> The provider DAISUKE MAJIMA (hereinafter "provider") is a smartphone application provided by the provider.
<br> Regarding the handling of privacy information in (hereinafter referred to as "this application"), the privacy policy is defined as follows.
<br>
</p>
<h2> Type of personal information to be acquired
</h2>
<p> 1. Image and depth data captured from the front True Depth camera. 2, Images / videos selected by the user for use in the application, or taken with the camera.
<br>3, Cookie data and web beacons may be used to display advertisements.
</ p>
<h2> How to collect and use personal information
 </h2>
<p> 1. When switching back to the front camera mode, the app uses the depth data of the TrueDepth camera to shoot in portrait mode.
<br>2, processing of depth data, and images and videos are performed in the user's terminal, and images are not uploaded via network communication. The depth data is temporarily retained and used within the app to blur the background and make the subject stand out, and is deleted from the app after use.
<br>3. You may be notified of software updates.
<br>4, Cookie data may be used to display advertisements.
<br>5. Under the law, if the provider determines that it is necessary to pursue the legitimate interests of a third party, it may process personal information.
<br>6. Through the application providing platform, we may obtain statistical data such as analytics that are not directly related to a specific individual.
</p>
<h2> About disclosure to third parties </h2>
<p> The provider will not provide personal information to third parties without the prior consent of the user.
<br> However, this is not the case in the following cases, and user information may be provided to third parties.
<br> (1) When providing user information to the external service operating company in cooperation with external services or authentication using external services
<br> (2) For the institution of the state or local public entity or the person entrusted by it to perform the affairs prescribed by laws and regulations,
<br> When the provider needs to cooperate and obtaining the consent of the user may hinder the execution of the business.
<br> (3) When permitted by other laws and regulations
</p>
<h2> Disclosure of personal information
</h2>
<p> Except for data that is completed in the application terminal, if the individual requests the disclosure of personal information, we will disclose it to the individual.
</p>
<h2> Method of user involvement
</h2>
<p> If you want to stop using the user information by the application, please uninstall the application.
<br> By this, all of user information will be deleted from device.
<br> The contents of this privacy policy can be changed without the consent of the user.
<br> Notification of changes will be made in the form of notifications through the application providing platform, and the privacy policy after the change,
<br> Effective from the date of notification.
</p>
<h2> Contact us
</h2>
<p> mail: samuraibrothersmail@gmail.com \ nwebsite: https: //tranquil-oasis-79483.herokuapp.com
<br>
<br> Effective February 1, 2020
</p>


<h1 id="smilepractice"><%= 'SmilePractice privacy policy' %></h1>
<p> "SmilePractice"  provider DAISUKE MAJIMA (hereinafter "provider") is a smartphone application provided by the provider.
<br> Regarding the handling of privacy information in (hereinafter referred to as "this application"), the privacy policy is defined as follows.
<br>
</p>
<h2> Type of personal information to be acquired
</h2>
<p> 1, Captured image from front true depth camera and user's face data in captured image (face position and facial expression).
<br>2. Cookie data and web beacons may be used to display advertisements.
</ p>
<h2> How to collect and use personal information
 </h2>
<p> 1, When app starts, app starts capturing image by front camera( while camera preview is not displayed, front camera is capturing images).
<br>App detect user's smile with those captured images.
<br>App convert those images to numbers, and calcurate facial expression (i.e smile or not) with the machine learning model.
<br>If app detect the smile, characters react it. It is the purpose of front camera capturing.
<br>The images captured will not permanently stored or provided to third parties.

<br>In ARCamera mode, the app captures front camera images and collect user's face data(i.e. position and facial expression movement).
<br>The App puts some AR Creatures on user's face with those face position data.
<br>Specifically, AR content such as animals is displayed on the user's head or in front of the face.
<br>And the app detect the smile of the user with facial expression data.With this, ARCreatures react with user's smile in AR mode.
<br>When user tap record button, app save those AR images or videos into user's photo library.
<br>2. Processing of images,and face data is performed  only in the user's terminal. Images and face data are not uploaded via network communication.
<br> 3. Face data is temporarily stored and used in the app only to display content, and is deleted from the app after use.
<br>Face data is not permanently stored in the app, uploaded via network communication, or provided to third parties.
<br> 4. You may be notified of software updates.
<br> 5. Cookie data may be used to display advertisements.
<br> 6. Under the law, if the provider determines that it is necessary to pursue the legitimate interests of a third party, we may process personal information.
<br> 7. Through the application platform, we may obtain statistical data such as analytics that are not directly related to a specific individual.
</p>
<h2> About disclosure to third parties </h2>
<p> The provider will not provide personal information to third parties without the prior consent of the user.
<br> However, this is not the case in the following cases, and user information may be provided to third parties.
<br> (1) When providing user information to the external service operating company in cooperation with external services or authentication using external services
<br> (2) For the institution of the state or local public entity or the person entrusted by it to perform the affairs prescribed by laws and regulations,
<br> When the provider needs to cooperate and obtaining the consent of the user may hinder the execution of the business.
<br> (3) When permitted by other laws and regulations
</p>
<h2> Disclosure of personal information
</h2>
<p> Except for data that is completed in the application terminal, if the individual requests the disclosure of personal information, we will disclose it to the individual.
</p>
<h2> Method of user involvement
</h2>
<p> If you want to stop using the user information by the application, please uninstall the application.
<br> By this, all of user information will be deleted from device.
<br> The contents of this privacy policy can be changed without the consent of the user.
<br> Notification of changes will be made in the form of notifications through the application providing platform, and the privacy policy after the change,
<br> Effective from the date of notification.
</p>
<h2> Contact us
</h2>
<p> mail: samuraibrothersmail@gmail.com \ nwebsite: https: //tranquil-oasis-79483.herokuapp.com
<br>
<br> Effective February 1, 2020
</p>

<h1><%= 'SmilePracticeプライバシーポリシー' %></h1>
<p> 「SmilePractice」提供者DAISUKE MAJIMA（以下「提供者」といいます。）は、提供者が提供するスマートフォン用アプリケーション
<br>（以下「本アプリ」といいます。）のにおけるプライバシー情報の取扱いについて、以下のとおりプライバシーポリシーを定めます。
<br>
</p>
<h2>取得する個人情報の種類
</h2>
<p>1、正面の真の深度カメラからキャプチャされた画像とキャプチャされた画像内のユーザーの顔データ（顔の位置と表情）。
<br>２、広告表示のためにCookieデータやウェブビーコンを使用する場合があります。
</p>
<h2>個人情報の収集および使用方法
 </h2>
<p>1、アプリが起動すると、アプリはフロントカメラによる画像のキャプチャを開始します（カメラプレビューが表示されていない間、フロントカメラは画像をキャプチャしています）。
<br>アプリは、これらのキャプチャされた画像でユーザーの笑顔を検出します。
<br>アプリは、これらの画像を数値に変換し、機械学習モデルを使用して計算された表情（つまり、笑顔かどうか）を決定します。
<br>アプリが笑顔を検出すると、キャラクターはそれに反応します。これが、フロントカメラキャプチャの目的です。
<br>キャプチャされた画像は永続的に保存されたり、第三者に提供されたりすることはありません。
<br>ARCameraモードでは、アプリはフロントカメラの画像をキャプチャし、ユーザーの顔データ（つまり、位置と表情の動き）を収集します。
<br>アプリは、それらの顔の位置データを使用して、ユーザーの顔にいくつかのARクリーチャーを配置します。
<br>具体的には、動物などのARコンテンツが、ユーザーの頭または顔の前に表示されます。
<br>また、アプリは表情データを使用してユーザーの笑顔を検出します。これにより、ARCreaturesはARモードでユーザーの笑顔に反応します。
<br>ユーザーが録画ボタンをタップすると、アプリはそれらのAR画像または動画をユーザーの写真ライブラリに保存します。
<br>2.画像​​および顔データの処理は、ユーザーの端末でのみ実行されます。画像と顔データはネットワーク通信を介してアップロードされません。
<br>3.顔データは一時的に保存され、コンテンツを表示するためにのみアプリで使用され、使用後にアプリから削除されます。
<br>顔データは、アプリに永続的に保存されたり、ネットワーク通信を介してアップロードされたり、第三者に提供されたりすることはありません。
<br>４、ソフトウェアアップデートの通知をする場合があります。
<br>５、広告の表示のためcookieデータ等を使用する場合があります。
<br>６、法令に基づく場合、第三者の正当な利益を追求するために提供者が必要と判断した場合、個人情報を処理する場合があります。
<br>７、アプリケーション提供プラットフォームを通して、特定の個人と直接関連づけられることのない、アナリティクス等の統計データを取得することがあります。
</p>
<h2>第三者への開示について</h2>
<p>提供者は、ユーザー情報のうち個人情報に関して、あらかじめユーザーの同意を得ることなく、第三者に提供しません。
<br>但し、次に定める場合にはこの限りではなく、ユーザー情報を第三者に提供することがあります。
<br>（１）外部サービスとの連携または、外部サービスを利用した認証にあたり、当該外部サービス運営会社にユーザー情報を提供する場合
<br>(２）国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して、
<br>提供者が協力する必要があり、かつユーザーからの同意取得が当該事務の遂行に支障を及ぼすおそれがある場合
<br>（３）その他法令で認められる場合
</p>
<h2>個人情報の開示
</h2>
<p>アプリケーション端末内で処理が完結するデータを除き、本人から個人情報の開示を求められた場合は、本人に対し開示します。
</p>
<h2>利用者関与の方法
</h2>
<p>アプリケーションによる利用者情報の利用停止を希望される場合は、アプリケーションをアンインストールしてください。これにより、すべてのユーザー情報がデバイスから削除されます。
<br>当プライバシーポリシーの内容は、利用者の承諾を得ることなく、変更できるものとします。
<br>変更の通知はアプリケーション提供プラットフォームを通した通知の形で行い、変更後のプライバシーポリシーは、
<br>通知された時点から効力を生じるものとします。
</p>
<h2>お問い合わせ
</h2>
<p>mail:samuraibrothersmail@gmail.com\nwebsite:https://tranquil-oasis-79483.herokuapp.com
<br>
<br>2020年2月1日施行
</p>

<h1 id="ikemen"><%= 'イケメン表情トレーニングプライバシーポリシー' %></h1>
<p> 「イケメン表情トレーニング」提供者DAISUKE MAJIMA（以下「提供者」といいます。）は、提供者が提供するスマートフォン用アプリケーション
<br>（以下「本アプリ」といいます。）のにおけるプライバシー情報の取扱いについて、以下のとおりプライバシーポリシーを定めます。
<br>
</p>
<h2>取得する個人情報の種類
</h2>
<p>１、アプリケーション内で表情診断に利用するために、カメラでキャプチャした画像。および、上記画像から数値として計算、抽出した顔データ。
<br>２、広告表示のためにCookieデータやウェブビーコンを使用する場合があります。
</p>
<h2>個人情報の利用方法
 </h2>
<p>１、画像データはアプリケーションのコンテンツ表示のための端末内での加工、画像ピクセル計算処理のために使用します。
<br>２、画像処理は利用者の端末内で行われ、ネットワーク通信による画像のアップロードは行いません。
<br>３、画像データおよび診断数値は、表情診断のためにのみアプリ内で一時的に保持、使用、保存されます。
<br>顔データのアプリ内での恒久的な保存、ネットワーク通信によるアップロード、第三者への提供は行われません。
<br>４、ソフトウェアアップデートの通知をする場合があります。
<br>５、広告の表示のためcookieデータ等を使用する場合があります。
<br>６、法令に基づく場合、第三者の正当な利益を追求するために提供者が必要と判断した場合、個人情報を処理する場合があります。
<br>７、アプリケーション提供プラットフォームを通して、特定の個人と直接関連づけられることのない、アナリティクス等の統計データを取得することがあります。
</p>
<h2>第三者への開示について</h2>
<p>提供者は、ユーザー情報のうち個人情報に関して、あらかじめユーザーの同意を得ることなく、第三者に提供しません。
<br>但し、次に定める場合にはこの限りではなく、ユーザー情報を第三者に提供することがあります。
<br>（１）外部サービスとの連携または、外部サービスを利用した認証にあたり、当該外部サービス運営会社にユーザー情報を提供する場合
<br>(２）国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して、
<br>提供者が協力する必要があり、かつユーザーからの同意取得が当該事務の遂行に支障を及ぼすおそれがある場合
<br>（３）その他法令で認められる場合
</p>
<h2>個人情報の開示
</h2>
<p>アプリケーション端末内で処理が完結するデータを除き、本人から個人情報の開示を求められた場合は、本人に対し開示します。
</p>
<h2>利用者関与の方法
</h2>
<p>アプリケーションによる利用者情報の利用停止を希望される場合は、アプリケーションをアンインストールしてください。
<br>当プライバシーポリシーの内容は、利用者の承諾を得ることなく、変更できるものとします。
<br>変更の通知はアプリケーション提供プラットフォームを通した通知の形で行い、変更後のプライバシーポリシーは、
<br>通知された時点から効力を生じるものとします。
</p>
<h2>お問い合わせ
</h2>
<p>mail:samuraibrothersmail@gmail.com\nwebsite:https://tranquil-oasis-79483.herokuapp.com
<br>
<br>2020年2月1日施行
</p>

<h1 id="penguin"><%= 'privacy policy' %></h1>
<p> "PenguinInTheDisplay"  provider DAISUKE MAJIMA (hereinafter "provider") is a smartphone application provided by the provider.
<br> Regarding the handling of privacy information in (hereinafter referred to as "this application"), the privacy policy is defined as follows.
<br>
</p>
<h2> Type of personal information to be acquired
</h2>
<p> 1. Cookie data and web beacons may be used to display advertisements.
</ p>
<h2> How to use personal information
 </h2>
<p> 1. You may be notified of software updates.
<br> 2. Cookie data may be used to display advertisements.
<br> 3. Under the law, if the provider determines that it is necessary to pursue the legitimate interests of a third party, we may process personal information.
<br> 4. Through the application platform, we may obtain statistical data such as analytics that are not directly related to a specific individual.
</p>
<h2> About disclosure to third parties </h2>
<p> The provider will not provide personal information to third parties without the prior consent of the user.
<br> However, this is not the case in the following cases, and user information may be provided to third parties.
<br> (1) When providing user information to the external service operating company in cooperation with external services or authentication using external services
<br> (2) For the institution of the state or local public entity or the person entrusted by it to perform the affairs prescribed by laws and regulations,
<br> When the provider needs to cooperate and obtaining the consent of the user may hinder the execution of the business.
<br> (3) When permitted by other laws and regulations
</p>
<h2> Disclosure of personal information
</h2>
<p> Except for data that is completed in the application terminal, if the individual requests the disclosure of personal information, we will disclose it to the individual.
</p>
<h2> Method of user involvement
</h2>
<p> If you want to stop using the user information by the application, please uninstall the application.
<br> The contents of this privacy policy can be changed without the consent of the user.
<br> Notification of changes will be made in the form of notifications through the application providing platform, and the privacy policy after the change,
<br> Effective from the date of notification.
</p>
<h2> Contact us
</h2>
<p> mail: samuraibrothersmail@gmail.com \ nwebsite: https: //tranquil-oasis-79483.herokuapp.com
<br>
<br> Effective February 1, 2020
</p>

<h1><%= 'プライバシーポリシー' %></h1>
<p> 「はこいりペンギン」提供者DAISUKE MAJIMA（以下「提供者」といいます。）は、提供者が提供するスマートフォン用アプリケーション
<br>（以下「本アプリ」といいます。）のにおけるプライバシー情報の取扱いについて、以下のとおりプライバシーポリシーを定めます。
<br>
</p>
<h2>取得する個人情報の種類
</h2>
<p>１、広告表示のためにCookieデータやウェブビーコンを使用する場合があります。
</p>
<h2>個人情報の利用方法
 </h2>
<p>１ソフトウェアアップデートの通知をする場合があります。
<br>２、広告の表示のためcookieデータ等を使用する場合があります。
<br>３、法令に基づく場合、第三者の正当な利益を追求するために提供者が必要と判断した場合、個人情報を処理する場合があります。
<br>４、アプリケーション提供プラットフォームを通して、特定の個人と直接関連づけられることのない、アナリティクス等の統計データを取得することがあります。
</p>
<h2>第三者への開示について</h2>
<p>提供者は、ユーザー情報のうち個人情報に関して、あらかじめユーザーの同意を得ることなく、第三者に提供しません。
<br>但し、次に定める場合にはこの限りではなく、ユーザー情報を第三者に提供することがあります。
<br>（１）外部サービスとの連携または、外部サービスを利用した認証にあたり、当該外部サービス運営会社にユーザー情報を提供する場合
<br>(２）国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して、
<br>提供者が協力する必要があり、かつユーザーからの同意取得が当該事務の遂行に支障を及ぼすおそれがある場合
<br>（３）その他法令で認められる場合
</p>
<h2>個人情報の開示
</h2>
<p>アプリケーション端末内で処理が完結するデータを除き、本人から個人情報の開示を求められた場合は、本人に対し開示します。
</p>
<h2>利用者関与の方法
</h2>
<p>アプリケーションによる利用者情報の利用停止を希望される場合は、アプリケーションをアンインストールしてください。
<br>当プライバシーポリシーの内容は、利用者の承諾を得ることなく、変更できるものとします。
<br>変更の通知はアプリケーション提供プラットフォームを通した通知の形で行い、変更後のプライバシーポリシーは、
<br>通知された時点から効力を生じるものとします。
</p>
<h2>お問い合わせ
</h2>
<p>mail:samuraibrothersmail@gmail.com\nwebsite:https://tranquil-oasis-79483.herokuapp.com
<br>
<br>2020年2月1日施行
</p>

    <h1 id="piweb"><%= 'プライバシーポリシー' %></h1>
    <p> 「piWeb」提供者DAISUKE MAJIMA（以下「提供者」といいます。）は、提供者が提供するスマートフォン用アプリケーション
    <br>（以下「本アプリ」といいます。）のにおけるプライバシー情報の取扱いについて、以下のとおりプライバシーポリシーを定めます。
    <br>
    </p>
    <h2>取得する個人情報の種類
    </h2>
    <p>１、アプリケーション内で利用するために利用者がカメラで撮影した画像・動画。
    <br>２、広告表示のためにCookieデータやウェブビーコンを使用する場合があります。
    </p>
    <h2>個人情報の利用方法
     </h2>
    <p>１、カメラで撮影した動画は、アプリケーション内で表示、録画、他のアプリを利用したライブ配信のために利用します。
    <br>２、動画の処理は利用者の端末内で行われ、ユーザーが他のアプリでライブ配信する場合を除き、ネットワーク通信による動画のアップロードは行いません。
    <br>３、他のアプリを利用したライブ配信における動画の取り扱いは、ユーザーの責任において行い、提供者は一切責任を負わないものとします。
    <br>４、ソフトウェアアップデートの通知をする場合があります。
    <br>５、広告の表示のためcookieデータ等を使用する場合があります。
    <br>６、法令に基づく場合、第三者の正当な利益を追求するために提供者が必要と判断した場合、個人情報を処理する場合があります。
    <br>７、アプリケーション提供プラットフォームを通して、特定の個人と直接関連づけられることのない、アナリティクス等の統計データを取得することがあります。
    </p>
    <h2>第三者への開示について</h2>
    <p>提供者は、ユーザー情報のうち個人情報に関して、あらかじめユーザーの同意を得ることなく、第三者に提供しません。
    <br>但し、次に定める場合にはこの限りではなく、ユーザー情報を第三者に提供することがあります。
    <br>（１）外部サービスとの連携または、外部サービスを利用した認証にあたり、当該外部サービス運営会社にユーザー情報を提供する場合
    <br>(２）国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して、
    <br>提供者が協力する必要があり、かつユーザーからの同意取得が当該事務の遂行に支障を及ぼすおそれがある場合
    <br>（３）その他法令で認められる場合
    </p>
    <h2>個人情報の開示
    </h2>
    <p>アプリケーション端末内で処理が完結するデータを除き、本人から個人情報の開示を求められた場合は、本人に対し開示します。
    </p>
    <h2>利用者関与の方法
    </h2>
    <p>アプリケーションによる利用者情報の利用停止を希望される場合は、アプリケーションをアンインストールしてください。
    <br>当プライバシーポリシーの内容は、利用者の承諾を得ることなく、変更できるものとします。
    <br>変更の通知はアプリケーション提供プラットフォームを通した通知の形で行い、変更後のプライバシーポリシーは、
    <br>通知された時点から効力を生じるものとします。
    </p>
    <h2>お問い合わせ
    </h2>
    <p>mail:samuraibrothersmail@gmail.com\nwebsite:https://tranquil-oasis-79483.herokuapp.com
    <br>
    <br>2019年12月1日施行
    </p>
    
<h1 id="piPic"><%= 'プライバシーポリシー' %></h1>
<p> 「piPic」提供者DAISUKE MAJIMA（以下「提供者」といいます。）は、提供者が提供するスマートフォン用アプリケーション
<br>（以下「本アプリ」といいます。）のにおけるプライバシー情報の取扱いについて、以下のとおりプライバシーポリシーを定めます。
<br>
</p>
<h2>取得する個人情報の種類
</h2>
<p>１、アプリケーション内で利用するために利用者がカメラで撮影した画像・動画。
<br>２、広告表示のためにCookieデータやウェブビーコンを使用する場合があります。
</p>
<h2>個人情報の利用方法
 </h2>
<p>１、カメラで撮影した動画は、アプリケーション内で表示、録画、他のアプリを利用したライブ配信のために利用します。
<br>２、動画の処理は利用者の端末内で行われ、ユーザーが他のアプリでライブ配信する場合を除き、ネットワーク通信による動画のアップロードは行いません。
<br>３、他のアプリを利用したライブ配信における動画の取り扱いは、ユーザーの責任において行い、提供者は一切責任を負わないものとします。
<br>４、ソフトウェアアップデートの通知をする場合があります。
<br>５、広告の表示のためcookieデータ等を使用する場合があります。
<br>６、法令に基づく場合、第三者の正当な利益を追求するために提供者が必要と判断した場合、個人情報を処理する場合があります。
<br>７、アプリケーション提供プラットフォームを通して、特定の個人と直接関連づけられることのない、アナリティクス等の統計データを取得することがあります。
</p>
<h2>第三者への開示について</h2>
<p>提供者は、ユーザー情報のうち個人情報に関して、あらかじめユーザーの同意を得ることなく、第三者に提供しません。
<br>但し、次に定める場合にはこの限りではなく、ユーザー情報を第三者に提供することがあります。
<br>（１）外部サービスとの連携または、外部サービスを利用した認証にあたり、当該外部サービス運営会社にユーザー情報を提供する場合
<br>(２）国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して、
<br>提供者が協力する必要があり、かつユーザーからの同意取得が当該事務の遂行に支障を及ぼすおそれがある場合
<br>（３）その他法令で認められる場合
</p>
<h2>個人情報の開示
</h2>
<p>アプリケーション端末内で処理が完結するデータを除き、本人から個人情報の開示を求められた場合は、本人に対し開示します。
</p>
<h2>利用者関与の方法
</h2>
<p>アプリケーションによる利用者情報の利用停止を希望される場合は、アプリケーションをアンインストールしてください。
<br>当プライバシーポリシーの内容は、利用者の承諾を得ることなく、変更できるものとします。
<br>変更の通知はアプリケーション提供プラットフォームを通した通知の形で行い、変更後のプライバシーポリシーは、
<br>通知された時点から効力を生じるものとします。
</p>
<h2>お問い合わせ
</h2>
<p>mail:samuraibrothersmail@gmail.com\nwebsite:https://tranquil-oasis-79483.herokuapp.com
<br>
<br>2019年12月1日施行
</p>

<h1 id="aiCap"><%= 'プライバシーポリシー' %></h1>
<p> 「aiCap」提供者DAISUKE MAJIMA（以下「提供者」といいます。）は、提供者が提供するスマートフォン用アプリケーション
<br>（以下「本アプリ」といいます。）のにおけるプライバシー情報の取扱いについて、以下のとおりプライバシーポリシーを定めます。
<br>
</p>
<h2>取得する個人情報の種類
</h2>
<p>１、アプリケーション内で利用するために利用者が選択、もしくはカメラで撮影した画像。
<br>および、上記画像から数値として計算、抽出した顔データ。
<br>２、広告表示のためにCookieデータやウェブビーコンを使用する場合があります。
</p>
<h2>個人情報の利用方法
 </h2>
<p>１、画像データはアプリケーションのコンテンツ表示のための端末内での加工、画像ピクセル計算処理のために使用します。
<br>２、画像処理は利用者の端末内で行われ、ユーザーが他のアプリでシェアする場合を除き、ネットワーク通信による画像のアップロードは行いません。
<br>３、顔データは、元の画像につけるキャプションを選択するためにのみアプリ内で一時的に保持、使用され、使用後はアプリから消去されます。
<br>顔データのアプリ内での恒久的な保存、ネットワーク通信によるアップロード、第三者への提供は行われません。
<br>４、ソフトウェアアップデートの通知をする場合があります。
<br>５、広告の表示のためcookieデータ等を使用する場合があります。
<br>６、法令に基づく場合、第三者の正当な利益を追求するために提供者が必要と判断した場合、個人情報を処理する場合があります。
<br>７、アプリケーション提供プラットフォームを通して、特定の個人と直接関連づけられることのない、アナリティクス等の統計データを取得することがあります。
</p>
<h2>第三者への開示について</h2>
<p>提供者は、ユーザー情報のうち個人情報に関して、あらかじめユーザーの同意を得ることなく、第三者に提供しません。
<br>但し、次に定める場合にはこの限りではなく、ユーザー情報を第三者に提供することがあります。
<br>（１）外部サービスとの連携または、外部サービスを利用した認証にあたり、当該外部サービス運営会社にユーザー情報を提供する場合
<br>(２）国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して、
<br>提供者が協力する必要があり、かつユーザーからの同意取得が当該事務の遂行に支障を及ぼすおそれがある場合
<br>（３）その他法令で認められる場合
</p>
<h2>個人情報の開示
</h2>
<p>アプリケーション端末内で処理が完結するデータを除き、本人から個人情報の開示を求められた場合は、本人に対し開示します。
</p>
<h2>利用者関与の方法
</h2>
<p>アプリケーションによる利用者情報の利用停止を希望される場合は、アプリケーションをアンインストールしてください。
<br>当プライバシーポリシーの内容は、利用者の承諾を得ることなく、変更できるものとします。
<br>変更の通知はアプリケーション提供プラットフォームを通した通知の形で行い、変更後のプライバシーポリシーは、
<br>通知された時点から効力を生じるものとします。
</p>
<h2>お問い合わせ
</h2>
<p>mail:samuraibrothersmail@gmail.com\nwebsite:https://tranquil-oasis-79483.herokuapp.com
<br>
<br>2019年11月1日施行
</p>
    
<h1 id="piPic"><%= 'プライバシーポリシー' %></h1>
<p> 「piPic」提供者DAISUKE MAJIMA（以下「提供者」といいます。）は、提供者が提供するスマートフォン用アプリケーション
<br>（以下「本アプリ」といいます。）のにおけるプライバシー情報の取扱いについて、以下のとおりプライバシーポリシーを定めます。
<br>
</p>
<h2>取得する個人情報の種類
</h2>
<p>１、アプリケーション内で利用するために利用者がカメラで撮影した画像・動画。
<br>２、広告表示のためにCookieデータやウェブビーコンを使用する場合があります。
</p>
<h2>個人情報の利用方法
 </h2>
<p>１、カメラで撮影した動画は、アプリケーション内で表示、録画、他のアプリを利用したライブ配信のために利用します。
<br>２、動画の処理は利用者の端末内で行われ、ユーザーが他のアプリでライブ配信する場合を除き、ネットワーク通信による動画のアップロードは行いません。
<br>３、他のアプリを利用したライブ配信における動画の取り扱いは、ユーザーの責任において行い、提供者は一切責任を負わないものとします。
<br>４、ソフトウェアアップデートの通知をする場合があります。
<br>５、広告の表示のためcookieデータ等を使用する場合があります。
<br>６、法令に基づく場合、第三者の正当な利益を追求するために提供者が必要と判断した場合、個人情報を処理する場合があります。
<br>７、アプリケーション提供プラットフォームを通して、特定の個人と直接関連づけられることのない、アナリティクス等の統計データを取得することがあります。
</p>
<h2>第三者への開示について</h2>
<p>提供者は、ユーザー情報のうち個人情報に関して、あらかじめユーザーの同意を得ることなく、第三者に提供しません。
<br>但し、次に定める場合にはこの限りではなく、ユーザー情報を第三者に提供することがあります。
<br>（１）外部サービスとの連携または、外部サービスを利用した認証にあたり、当該外部サービス運営会社にユーザー情報を提供する場合
<br>(２）国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して、
<br>提供者が協力する必要があり、かつユーザーからの同意取得が当該事務の遂行に支障を及ぼすおそれがある場合
<br>（３）その他法令で認められる場合
</p>
<h2>個人情報の開示
</h2>
<p>アプリケーション端末内で処理が完結するデータを除き、本人から個人情報の開示を求められた場合は、本人に対し開示します。
</p>
<h2>利用者関与の方法
</h2>
<p>アプリケーションによる利用者情報の利用停止を希望される場合は、アプリケーションをアンインストールしてください。
<br>当プライバシーポリシーの内容は、利用者の承諾を得ることなく、変更できるものとします。
<br>変更の通知はアプリケーション提供プラットフォームを通した通知の形で行い、変更後のプライバシーポリシーは、
<br>通知された時点から効力を生じるものとします。
</p>
<h2>お問い合わせ
</h2>
<p>mail:samuraibrothersmail@gmail.com\nwebsite:https://tranquil-oasis-79483.herokuapp.com
<br>
<br>2019年12月1日施行
</p>
<h1 id="dogtime"><%= 'プライバシーポリシー' %></h1>
 <p> 「DogTime」提供者DAISUKE MAJIMA（以下「提供者」といいます。）は、提供者が提供するスマートフォン用アプリケーション
 <br>（以下「本アプリ」といいます。）のにおけるプライバシー情報の取扱いについて、以下のとおりプライバシーポリシーを定めます。
 <br>
 </p>
 <h2>取得する個人情報の種類
 </h2>
 <p>１、広告表示のためにCookieデータやウェブビーコンを使用する場合があります。
    </p>
    <h2>個人情報の利用方法
     </h2>
    <p>１、ソフトウェアアップデートの通知をする場合があります。
    <br>２、広告の表示のためcookieデータ等を使用する場合があります。
    <br>３、法令に基づく場合、第三者の正当な利益を追求するために提供者が必要と判断した場合、個人情報を処理する場合があります。
    <br>４、アプリケーション提供プラットフォームを通して、特定の個人と直接関連づけられることのない、アナリティクス等の統計データを取得することがあります。
    </p>
 <h2>第三者への開示について</h2>
 <p>提供者は、ユーザー情報のうち個人情報に関して、あらかじめユーザーの同意を得ることなく、第三者に提供しません。
 <br>但し、次に定める場合にはこの限りではなく、ユーザー情報を第三者に提供することがあります。
 <br>（１）外部サービスとの連携または、外部サービスを利用した認証にあたり、当該外部サービス運営会社にユーザー情報を提供する場合
 <br>(２）国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して、
 <br>提供者が協力する必要があり、かつユーザーからの同意取得が当該事務の遂行に支障を及ぼすおそれがある場合
 <br>（３）その他法令で認められる場合
 </p>
 <h2>個人情報の開示
 </h2>
 <p>アプリケーション端末内で処理が完結するデータを除き、本人から個人情報の開示を求められた場合は、本人に対し開示します。
 </p>
 <h2>利用者関与の方法
 </h2>
 <p>アプリケーションによる利用者情報の利用停止を希望される場合は、アプリケーションをアンインストールしてください。
 <br>当プライバシーポリシーの内容は、利用者の承諾を得ることなく、変更できるものとします。
 <br>変更の通知はアプリケーション提供プラットフォームを通した通知の形で行い、変更後のプライバシーポリシーは、
 <br>通知された時点から効力を生じるものとします。
 </p>
 <h2>お問い合わせ
 </h2>
 <p>mail:samuraibrothersmail@gmail.com\nwebsite:https://tranquil-oasis-79483.herokuapp.com
 <br>
 <br>2019年12月1日施行
 </p>
</body>
</html>
